* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    font: 14px/22px Arial;
    color: black;
}

a {
    color: black;
}

a:hover {
    color: black;
}

#wrap {
    min-height: 100%;
    position: relative;
}

#header {
    height: 100px;
}

#main {
    padding-left: 15px;
    padding-bottom: 50px;
    overflow: hidden;
    clear: both;
}

#leftcol {
    width: 20%;
    float: left;
}

#content {
    overflow: hidden;
    padding: 0 30px;
}

#footer {
    height: 50px;
    position: absolute;
    bottom: 0;
}

/*Категории товаров*/
.submenu {
    display: none;
}

.open {
    display: block;
}

li:hover>.submenu {
    display: block;
}

#topic{
    font: italic 100% Arial;
    display: block;
    padding: 10px;
    border: 1px solid black;
    color: black;
}

#leftcol ul>li{
    list-style-type: none;
}

#leftcol>ul>li>a {
    display: block;
    padding: 10px;
    border: 1px solid black;
    color: #5b80b2;
    overflow: hidden;
}

#leftcol ul>li>ul{
    /*display: none;*/
    overflow: hidden;
}

#leftcol ul>li>ul>li>a{
    margin-left: 10px;
    padding: 10px;
    display: block;
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

/*Хлебные крошки*/
#address{
    display: block;
}

/*Фото и описание*/
.product {
    background-color: white;
    border: 1px solid #ddd;
    float: left;
    margin: 0 20px 20px 0;
    box-sizing: border-box;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.product>.photo {
    width: 153px;
    height: 120px;
    margin: 0 auto 10px;
}

.product>.photo>img {
    width: auto;
    height: 100px;
}

/*Страница продукта*/
.product-photo {
    background-color: white;
    float: left;
    margin: 20px 20px 20px 0;
    box-sizing: border-box;
    width: 400px;
    text-align: left;
}

.product-photo>img {
    width: auto;
    height: 300px;
}

.product-photo img:hover {
    border: 2px solid #D4DEE8;
    cursor: pointer;
}

#big_image {
    position: absolute;
    display: none;
    left: 50%;
    margin-left: -350px;
    z-index: 999;
    top: 100px;
    border: 1px solid #D4DEE8;
}

#big_image img {
    width: auto;
    max-height: 1000px;
    max-width: 1000px;
}

.description {
    margin-right: 20px;
    display: block;
    float: left;
}

.price {
    float: right;
    margin-right: 50px;
}

/*Переход по страницам*/
#pages {
    clear: both;
}
