* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    font: 14px/22px Arial;
    color: black;
}

#wrap {
    min-height: 100%;
    position: relative;
}

#header {
    height: 100px;
}

#main {
    padding-left: 15px;
    padding-bottom: 50px;
    overflow: hidden;
}

#leftcol {
    width: 20%;
    float: left;
}

#content {
    overflow: hidden;
}

#footer {
    height: 50px;
    position: absolute;
    bottom: 0;
}

