{% extends "catalog/base.html" %}
{% load staticfiles %}

{% block leftcol %}
    <ul>
        <li><span id="topic">Категории:</span></li>
        {% for category in categories %}
            <li class="category"><a href="{{ category.get_absolute_url }}">{{ category.name}}</a></li>
        {% endfor %}
    </ul>
{% endblock leftcol %}

{% block content %}
    <span id="address">
    {% for key, value in route.items %}
        <a href="{{ value }}">/ {{ key }}</a>
    {% endfor %}
    </span>
    {% for product in products %}
        <div class="product">
            <p class="title">{{ product.name|capfirst }}</p>
            <div class="photo">
                <img src="">
            </div>
        </div>
    {% endfor %}
    <div id="pages">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">&lt&lt&ltНазад</a>
        {% endif %}
        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">Вперед&gt&gt&gt</a>
        {% endif %}
    </div>
{% endblock content %}