{% extends "catalog/base.html" %}
{% load staticfiles %}


{% block leftcol %}
    <ul class="menu">
      <li><a id='topic' href="/catalog">Категории:</a></li>
      {% for category in categories %}
          {% include "catalog/menu.html" %}
      {% endfor %}
    </ul>
{% endblock leftcol %}

{% block content %}
    <span id="address">
    {% for key, value in route %}
        <a href="{{ value }}">/ {{ key.name }}</a>
    {% endfor %}
    </span>
    {% for product in products %}
        <div class="product">
            <p class="title"><a href={{ product.get_absolute_url }}>{{ product.name|capfirst }}</a></p>
            <div class="photo">
                <img src="{% static '' %}{{ product.image }}" alt="">
            </div>
        </div>
    {% endfor %}
    <div id="pages">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">&lt&lt&ltНазад</a>
        {% endif %}
        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">Вперед&gt&gt&gt</a>
        {% endif %}
    </div>
{% endblock content %}