<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>
<body>
    <div id="wrap">
        <div id="header">

        </div>
        <div id="main">
            <div id="leftcol">
                <div class ="menu">
                    <ul class = "category">
                        {% for name in categories %}
                            <li><a href="">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="content">
                <div id="product">
                    {% for product in products %}
                        <p class="title">{{ product.name }}</p>
                        <div class="photo">
                            <img src="{% static 'images' %}/{{ product.image }}.jpg">
                        </div>
                    {% endfor %}
                </div>
                <div id="pages">
                    {% if products.has_previous %}
                        <a href="?page={{ products.previous_page_number }}">&lt&lt&ltНазад</a>
                    {% endif %}
                    {% if products.has_next %}
                        <a href="?page={{ products.next_page_number }}">Вперед&gt&gt&gt</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>